# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.idea
/.vscode
/.env.backup
.env.testing
.env.*.backup

# Laravel Breeze (Vite/Frontend build)
/public/build

# OS dan editor
.DS_Store
Thumbs.db
*.log
*.swp
*.swo

# npm / yarn
yarn.lock
pnpm-lock.yaml
package-lock.json

# Composer
composer.lock

# Cache
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
